emacs/.emacs.d/elpa/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/backups
emacs/.emacs.d/custom.el
emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/elpa/archives
emacs/.emacs.d/image-dired/
emacs/.emacs.d/mail
emacs/.emacs.d/transient/
emacs/.emacs.d/url/
emacs/.emacs.d/places
emacs/.emacs.d/session*
emacs/.emacs.d/thumbs
emacs/.emacs.d/tramp
emacs/.emacs.d/url
emacs/.emacs.d/var
emacs/.emacs.d/ido.last
emacs/.emacs.d/recentf
emacs/.emacs.d/my-autoload.el
*.elc
*~
emacs/.emacs.d/smex-items
emacs/.emacs.d/network-security.data
